header {
  position: relative;
  height: 100px;
  margin: 10px;
  background-color: lightblue;
  text-align: center;
}
header h1 {
  position: absolute;
  width: 100%;
}
nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
}
a:link, a:visited {
  text-decoration: none;
  font-weight: bold;
}
.headnav nav a:link, .headnav nav a:visited {
  color: white;
  background-color: brown;
  display: inline-block;
  text-align: center;
  width: 175px;
  padding: 25px;
}
.headnav nav a:hover {
  background-color: black;
}
form {
  position: relative;
  margin: 10px;
  padding: 10px;
  background-color: lightgrey;
  text-align: center;
}
form input, form {
  font-size: 30px;
}
form input[type = text], form input[type=password], form input[type=email]{
  border: 2px solid brown;
}
form input[type=submit] {
  width: 200px;
  height: 50px;
  background-color: lightblue;
  border: 2px solid;
  margin-left: 150px;
  cursor: pointer;
}
form select {
  width: 120px;
  height: 50px;
  margin-left: 68px;
  border: 2px solid brown;
}
footer {
  position: relative;

}
footer {
  text-align: center;
}
footer nav a:link, footer nav a:visited {
  display: inline-block;
  text-align: center;
  width: 175px;
  padding: 4px;
  color: grey;
}
footer nav a:hover {
  color: black;
}
